<mat-toolbar class="mynav mat-elevation-z8">
  <span
    ><mat-icon aria-hidden="false" aria-label="Example home icon">eco</mat-icon
    >Corinthdev University</span
  >
  <div class="spacer"></div>
  <a mat-button routerLink="home">HOME</a>
  <a mat-button>COURSES</a>
  <a mat-button>NEWS</a>
  <a mat-button>GALLERY</a>
  <a mat-button routerLink="app-contact">CONTACT</a>
  <a mat-raised-button class="applynow" routerLink="app-application-form"
    >APPLY NOW!</a
  >
</mat-toolbar>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<router-outlet></router-outlet>
